@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 50px;
}

.welcome-section h1 {
    font-size: 2em;
    color: #000000;
    margin-top: 10px;
}

.welcome-section .highlight {
    color: #DFBC8A; 
    
}
.highlight img {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 60px;
    height: auto;
}

.welcome-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.statistics-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 550px;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    
}

.stat-item {
    text-align: center;
}

.stat-item .number {
    font-size: 2,5em;
    font-weight: bold;
    color: #000;
}

.stat-item .label {
    font-size: 1em;
    color: #888;
    margin-left: 5px;
}

.section-divider-Hero {
    width: 770px;
    height: 1.93px;
    background-color: #263238;
    margin-left: 335px;
    margin-bottom: 2px;
}

.welcome-text {
    font-family: "Cairo", serif;
    font-size:64px; /* تكبير الخط الأساسي */
    font-weight: 600;
    color: #000; /* لون النص الأساسي */
}

.highlight {
    color: #DFBC8A;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}



.statistics-section {
    display: flex;
    flex-direction: row; 
    gap: 189px;
    padding: 20px 0;
}


@media (max-width: 600px) { 
    .statistics-section {
        flex-direction: column;
        gap: 52px; 
    }

    .stat-item .number {
        font-size: 1.2em; 
        text-align: center; 
    }

    .stat-item .label {
        font-size: 1em; 
        text-align: center; 
    }

    .welcome-section h1 {
        font-size: 1.3em; 
        text-align: center; 
    }

    .welcome-image {
        max-width: 80%; 
        margin: 0 auto; 
    }

    .social-icons {
        flex-direction: row; /* تنظيم الأيقونات في صف */
        gap: 10px; 
        justify-content: center; 
    }

    .section-divider-Hero {
        width: 100%; 
        margin: 10px 0; 
    }

    .footer-bottom {
        flex-direction: column; 
        text-align: center;
        gap: 10px; 
    }
}
