/* تنسيق الحاوية */
.withdraw-history-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
  }
  
  .withdraw-history-title {
    color: #555;
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #d3d3d3;
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    margin-bottom: -4px;
  }
  
  /* تنسيق الجدول */
  .withdraw-history-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  
  .withdraw-history-table th,
  .withdraw-history-table td {
    padding: 15px;
    text-align: left;
    font-size: 0.9rem;
    color: #666;
  }
  .withdraw-thd{
    padding: 250px;
  }
  .withdraw-history-table th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .withdraw-history-row {
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
  }
  
  .withdraw-history-row:nth-child(even) {
    background-color: #f7f7f7;
  }
  
  /* تنسيق الأزرار */
  .withdraw-history-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;
    transition: background-color 0.3s ease;
    width:120px;
  }
  
  /* ألوان الأزرار بناءً على الحالة */
  .withdraw-history-btn.agree {
    background-color: #d6a35d;
    color: white;
  }
  
  .withdraw-history-btn.pending {
    background-color: #6c757d;
    color: white;
  }
  
  .withdraw-history-btn.approved {
    background-color: #28a745;
    color: white;
  }
  
  /* تحسين العرض على الهواتف المحمولة */
  @media (max-width: 768px) {
    .withdraw-history-container {
      padding: 10px;
      margin: 20px;
    }
  
    .withdraw-history-table th,
    .withdraw-history-table td {
      padding: 10px;
      font-size: 0.8rem;
    }
  
    .withdraw-history-btn {
      padding: 6px 12px;
      font-size: 0.8rem;
    }
  }
  