.panther-image {
    max-width: 400px;
    text-align: center;
  }
  
  .panther-image img {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .panther-image {
      display: none; /* إخفاء الصورة على الشاشات الصغيرة */
    }
  }
  